@import "src/styles/variables";
@import "src/styles/mixins";

.button {
  display: flex;
  width: max-content;
  align-items: center;
  height: 34px;
  padding: 0px $spacing-xs;
  border-radius: 8px;
  @include buttonPrimary;

  &.primary {
    background-color: var(--app-base);
    color: var(--neutral-white);
    &:hover {
      background-color: var(--app-darker);
    }
    &.disabled {
      background-color: var(--neutral-200);
      border-color: var(--neutral-200);
      &:hover {
        background-color: var(--neutral-200);
        // cursor: not-allowed;
      }
    }
  }

  &.secondary {
    background-color: var(--neutral-white);
    border: 1px solid var(--app-base);
    color: var(--app-base);
    &:hover {
      border: 1px solid var(--app-darker);
      color: var(--app-darker);
    }
    &.disabled {
      border-color: var(--neutral-200);
      color: var(--neutral-200);
      // &:hover {
      //   cursor: not-allowed;
      // }
    }
  }

  &.tertiary {
    color: var(--secondary-base);
    &:hover {
      color: var(--secondary-darker);
      cursor: pointer;
    }
    &.disabled {
      color: var(--neutral-200);
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: $spacing-xs;
  animation: rotate 4s linear infinite;
  &.loading {
    display: none;
  }
}
