@use "sass:math";

@mixin mouse {
  @media (pointer: fine) {
    @content;
  }
}

@mixin touch {
  @media (pointer: coarse), (pointer: none) {
    @content;
  }
}

@mixin safari {
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    @content;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: 6% repeat(5, 1fr) 6%;

  @include media(">tablet") {
    grid-template-columns: 1fr repeat(16, minmax(0px, 100px)) 1fr;
  }
}

@mixin title-1 {
  font-family: $termina;
  font-weight: 600;
  color: purple;
}

@mixin buttonPrimary {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: $primary;
}
