@import "node_modules/include-media/dist/include-media";
@import "./mixins";

// Colors
$primary: #266CB0;
$secondary: #266CB0;
$white: #ffffff;
$black: #1A181B;

$success: #6BE09C;
$warning: #F6BB58;
$error: #EB4D4D;

// Fonts
$termina: "Termina", sans-serif;

$breakpoints: (
	mobileM: 375px,
	mobileL: 425px,
	tablet: 768px,
	laptop: 1024px,
	laptopL: 1440px,
	desktop: 1600px,
	xxl: 1920px,
);
