@import "destyle.css";
@import "variables";

html {
	--scrollbar-width: 12px;

	color: black;
	font-size: 10px;
	font-family: $termina;
	background-color: $primary;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	overflow-x: hidden;
	overflow-y: scroll;
	overflow-y: overlay;

	-webkit-tap-highlight-color: rgba($primary, 0.1);

	::selection {
		color: $primary;
		background-color: $secondary;
	}
}

// Scrollbar
body,
html {
	scrollbar-width: thin;
	scrollbar-color: $primary $secondary;
}
::-webkit-scrollbar {
	width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
	background: $primary;
}
::-webkit-scrollbar-thumb {
	background-color: mix($primary, $secondary, 20);
	border-radius: 10px;
	border: 4px solid $primary;

	&:hover {
		background-color: $secondary;
	}
}
::-webkit-scrollbar-corner {
	display: none;
}
